<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

        });
    </script>
</head>

<body>


    <video width="320" height="240" controls>
        <source src="video1.mp4" type="video/mp4">
    </video>

</body>

</html>